.dropdown-menu {
    // setting a margin is not compatible with popper.
    margin: 0 !important;

    > li > a {
        padding: 3px 10px;
    }

    max-height: 250px;
    overflow-y: scroll;
}

.context-menu {
    position: fixed;
    z-index: 1050;
    max-height: 320px;
    overflow-y: auto;
}

.context-menu .disabled {
    color: #aaa;
    pointer-events: none;
}
